@model IEnumerable<DolphinCove.Models.Experience>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Park)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceImage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceImage4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceAddons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Park.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceImage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceImage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceImage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceImage4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceAddons.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
